body{
    background-image: url(usgs-nF1FvXdJL7o-unsplash.jpg);
    margin: 0;
}

#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clock{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    background-color: hsla(0, 0%, 100%, 0.1);
    backdrop-filter: blur(50px);
}